<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Starter</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <% include common/head.ejs %>
  <link rel="stylesheet" href="/public/admin/vendors/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="/public/admin/css/alt/AdminLTE-select2.min.css">
</head>
<body class="hold-transition skin-purple sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <% include common/header.ejs %>

    <!-- Left side column. contains the logo and sidebar -->
    <% include common/aside.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Cập nhật chuyên mục <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
          <li class="active">Here</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container">
        
         <% if (flash_messages) { %>
          <%  for (let prop in flash_messages) { %>
            <% if (prop !== 'objBody') { %>
               <% flash_messages[prop].forEach(e => { %>
                <div class="alert alert-<%= prop %>" role="alert">
                  <%= e %>
                </div>
              <% }) %>   
            <% } %>      
          <% } %>
        <% } %>


        <form action="/admin/category/edit/<%= category._id %>" method="POST">
          <div class="form-group">
            <label for="title">Tiêu đề</label>
  
            <input 
              value="<%= category.name %>"
              type="text" class="form-control" name="title" id="title" 
              autocomplete="off" autofocus placeholder="Nhập tên chuyên mục">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block btn-flat">Cập nhật</button>
          </div>
        </form>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <% include common/footer.ejs %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <% include common/script.ejs %>

  <script src="/public/admin/vendors/select2/dist/js/select2.full.min.js"></script>
  <script src="/public/admin/vendors/tinymce/tinymce.min.js"></script>
  <script src="/public/admin/js/post_add.js"></script>

</body>
</html>