<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <% include common/head %>

  </head>

  <body>

    <!-- Navigation -->
    <% include common/nav.ejs %>

    <!-- Page Header -->
    <% include common/header.ejs %>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% if (articles.length === 0) { %>
          <h3>No articles found</h3>
          <% } else { %>
            <% articles.forEach(article => { %>

            <div class="post-preview">
              <a href="post.html">
                <h2 class="post-title">
                  <%= article.title %>
                </h2>
                <h3 class="post-subtitle">
                  <%= article.description %>
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#"><%= article.author.email %></a>
                on <%= new Date(article.updatedAt).toLocaleDateString() %></p>
            </div>
            <hr>

            <% }); %>
          <% } %>   
          
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <% include common/footer.ejs %>

    <% include common/script.ejs %>
  </body>

</html>
