<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <% include common/head.ejs %>

  </head>

  <body>

    <!-- Navigation -->
    <% include common/nav.ejs %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/public/client/images/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1><%= article.title  %></h1>
                        <span class="subheading"><%= article.description %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <%- article.content %>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <% include common/footer.ejs %>

    <% include common/script %>

  </body>

</html>
